$iconsPath: "~assets/icons";
$imagesPath: "~assets/images";

.change-question-type-container {
  .hsmx2-block {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: white;
    background-color: #6f737d;
    border-radius: 2px;
    padding: 3px 6px;
    gap: 4px;
    &::before {
      content: "HSM ";
    }
    .shuffle-icon,
    .shuffle-icon-hover {
      background: no-repeat;
      background-position-y: center;
      width: 20px;
      height: 20px;
      background-size: 22px;
    }
    .shuffle-icon {
      background-image: url(#{$iconsPath}/shuffle.svg);
    }
    .shuffle-icon-hover {
      background-image: url(#{$iconsPath}/shuffle-hover.svg);
    }
    .create-hsmx2 {
      background: rgba(87, 39, 176, 0.3);
      height: 28px;
      border-radius: 5px;
      display: flex;
      p {
        font-family: hk-grotesk-medium;
        font-size: 16px;
        color: #ffffff;
        margin: 1px 5px !important;
        display: inline-block;
        cursor: pointer;

        &:hover {
          color: #ffcd50;
        }
      }
    }
  }
}
